<h1>New badge</h1>

<%= form_with model: @badge, url: admin_badges_path, local: true do |form| %>
<%= render "shared/errors", resource: @badge %>
  <div>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :image, "Image" %>
    <%= form.text_field :image %>
  </div>

 <div>
    <%= form.label :rule_type, "Rule" %>
    <%= form.select :rule_type, Badge::RULES.map { |rule| rule }, { prompt: "Select rule" } %>
  </div>

  <div>
    <%= form.label :rule_value, "Rule value" %>
    <%= form.text_field :rule_value %>
  </div>

  <%= form.submit "Create badge", class: 'btn btn-primary' %>
<% end %>

<%= link_to t("back_button"), :back %>
