<%= turbo_frame_tag 'new_test_form' do %>
  <h1>Passing the <%= @test_passage.test.title %> Test</h1>

  <b><%= @test_passage.current_question.body %></b>

  <p>Time for test: <span class="testTime"><%= @test_passage.test.timer %></span> min</p>
  <p>
    <span class="timeLeft" 
          data-test-end-time="<%= Time.current.to_i + @test_passage.time_left %>"
          data-redirect-url="<%= result_test_passage_path(@test_passage) %>">
     </span>
     time left
  </p>

  <p>Question number <%= @test_passage.test.questions.index(@test_passage.current_question) + 1 %> / <%= @test_passage.test.questions.count %></p>

  <%= content_tag :div,
                class: 'progress',
                data: { questions_completed: @test_passage.test.questions.index(@test_passage.current_question) + 1,
                        number_of_questions: @test_passage.test.questions.count
                } do %>
    <div class="progress-bar progress-bar-striped" role="progressbar"></div>
  <% end %>

  <%= form_with url: test_passage_path(@test_passage),
                local: true,
                class: "testFrom",
                method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <p>
        <%= b.check_box %>
        <%= b.label %>
      </p>
    <% end %>

    <p><%= link_to 'Gist Question', gists_path(test_passage: @test_passage), method: :post %></p>

    <%= form.submit "Next "%>
  <% end %>
<% end %>
