<%= form_with model: [:admin, @test], local: true, data: { turbo: false }  do |form| %>
  <%= render "shared/errors", resource: @test %>

   <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :level %>
    <%= form.number_field :level %>
  </p>

  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>

  <div>
    <%= form.label :timer, 'Test Timer (in minutes)' %>
    <%= form.number_field :timer, min: 0, step: 1 %>
  </div>

  <p><%= form.submit %></p>
<% end %>
