<h1><%= t(".title") %></h1>

<p>
  <%= link_to t(".new_test"), new_admin_test_path %>
</p>

<%= render "shared/errors", resource: @test %>

<table>
  <tr>
    <th><%= t(".test_name") %></th>
    <th><%= t(".test_level") %></th>
    <th><%= t(".number_of_questions") %></th>
    <th>Status</th>
    <th colspan="3"><%= t(".actions") %></th>
  </tr>

  <%= render @tests %>
</table>
