<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="nav">
        <div>
          <%= link_to "TestGuru", root_path %>
        </div>
        <div class="right_content">
          <div class="user">Welcome, <b><%= current_user.first_name %> <%= current_user.last_name %></b> Guru</div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% end %>

    <%= render "shared/flash" %>

    <%= yield %>

    <footer>
      <p>
        <%= current_year %> <%= github_url("Zhabrikoff", "TestGuru") %> - Учебный проект в онлайн-школе <a href="https://thinknetica.com" target="_blank">Thinknetica</a>
      </p>
    </footer>
  </body>
</html>
